<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matwes.zpi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="matwes.zpi.login.WelcomeActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="matwes.zpi.login.SignUpActivity"
            android:label="@string/sign_up" />
        <activity
            android:name="matwes.zpi.login.SignInActivity"
            android:label="@string/sign_in" />
        <activity
            android:name="matwes.zpi.login.ResetPassActivity"
            android:label="@string/resetPassword" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="matwes.zpi.login.SignInByCodeActivity"
            android:label="Logowanie kodem" />
        <activity
            android:name="matwes.zpi.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_key" />

        <activity
            android:name="matwes.zpi.events.AddEventActivity"
            android:label="@string/addNewEvent" />
        <activity
            android:name="matwes.zpi.eventDetails.EventDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="matwes.zpi.messages.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="matwes.zpi.eventDetails.UpdateEventActivity"
            android:label="@string/updateLabel" />
        <activity
            android:name="matwes.zpi.profile.ChangePasswordActivity"
            android:label="Zmiana hasła" />
    </application>
</manifest>